@font-face {
	src: url('../fonts/Aller_Rg.ttf');
	font-family: Aregular;
  }
  @font-face {
	src: url('../fonts/Aller Bold.ttf');
	font-family: Abold;
  }
  @font-face {
	src: url('../fonts/Aller Italic.ttf');
	font-family: Aitalic;
  }
  @font-face {
	src: url('../fonts/Aller_Lt.ttf');
	font-family: Alight;
  } 
@keyframes demo{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
  .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(87, 197, 160, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
.headbg{
	background-color: #262626;
}
.margin-1{
	margin-right: 20px;
	position: relative;
	vertical-align: middle;
  }
  .margin-1 input#search {
	width: 40px;
	height: 50px;
	background: #262626;
	border: none;
	font-size: 14px;
	float: right;
	color: #262626;
	padding-left: 35px;
	border-radius: 5px;
	color: #fff;
	transition: width .55s ease;
  }
  .margin-1 input#search::-webkit-input-placeholder {
	color: #65737e;
  }
  .margin-1 input#search:focus,
  .margin-1 input#search:active {
	outline: none;
	width: 200px;
  }
  .margin-1:hover input#search {
	width: 200px;
	border: 2px solid #57C5A0;
  }
  .margin-1{
	  margin: 8px 0px;
	  margin-right: 8px;
  }
  .searchicon{
	  color: #adadad;
	  position: absolute;
	  font-size: 18px;
	  top: 15px;
	  left: 10px;
  }
  .navbar{
	  padding: 0px;
	  margin: 0px;
  }
  .log{
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
  }
  .mynav{
	  margin-top: 12px;
	  color:#adadad;
	  margin: 0px 10px;
	  margin-top: 12px;
	  color:#adadad;
	  font-family: Aregular;  
  }
  .mynav:hover{
	 color: #57C5A0;
}
.topitems{
	padding: 10px 10px;
	border-left: 1px solid #adadad;
}
.topitems:last-child{
	border-right: 1px solid #adadad;
}
.head-menu{
	font-family: Aregular;
	font-size: 20px;
	color: #000;
}
.head-menu:hover{
	color: #57C5A0;
}
.t{
	display: inline-block;
	background-color: #adadad;
	color: #fff;
	font-family: Abold;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 6px;
	margin-top: 20px;
	margin-left: 5px;
}
.star{
	padding: 0px 25px;
	cursor: pointer;
}
.t2{
	background-color: #57C5A0;
	padding-left: 9px;
	padding-right: 9px;
	margin-top: 21px;
}
.shopcart{
	color: #65737e;
	cursor: pointer;
}
.bgimg{
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.doler{
	font-family: Abold;
	background-color: #57C5A0;
	padding: 30px 10px;
	display: inline;
	color: #fff;
}
.light{
	font-size: 45px;
	color: #242424;
	margin-top: 15px;
}
.light2{
	margin-bottom: -30px;
	margin-top: 30px;
}
.light3{
	margin-bottom: -5px;
}
.jumbotron{
	float: right;
	margin-top: 40px;
	margin-right: 80px;
	background-color: transparent;
	font-family: Alight;
}
.nunc{
	font-size: 20px;
	line-height: 28px;
}
.icons{
	background-color: #fff;
	padding: 15px;
	border-radius: 2px;
	color: #65737e;
	cursor: pointer;
}
.icons:hover{
	color: #fff;
	background-color: #57C5A0;
}
.basket{
	color: #57C5A0;
}
.bg3{
	background-color: #2E2E2E;
}
.fullwidth ul{
	width: 100%;
}
.fullwidth ul li{
	width: 20%;
}
.TopSpace{
	margin-top: 7px;
}
.TopBorder{
	border-top: 10px solid #000;
	margin: 1px;
}
.Price{
	font-size: 15px;
	margin-top: -18px;
}
.ThirdMenu{
	color: #979797;
	font-family: Aregular;
	font-size: 22px;
	border-top: 4px solid transparent;
	margin-top: -7px;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}
.ThirdMenu:hover{
	border-top: 4px solid #57C5A0;
	color: #fff;
}
.bg4{
	background-color: #242424;
}
.ProRow{
	padding: 30px 0px;
}
.myCol{
	padding-left: 0px;
	padding-right: 0px;
}
.myCol1{
	background-image: url('../images/1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.myCol2{
	background-image: url('../images/2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.myCol3{
	background-image: url('../images/3.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.blackBox{
	margin: 80px 0px;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
	opacity: 0.8;
	cursor: pointer;
	color: #fff;
	font-family: Alight;
	font-size: 25px;
	text-align: center;
	padding: 10px 30px;
}
.blackBox1{
	padding: 10px 50px;
}
.blackBox2{
	width: 250px;
}
.blackBox:hover{
	background-color: #57C5A0;
}
.bg5{
	display: none;
}
.bg6{
	display: none;
}
.bg7{
	display: none;
}
.bg8{
	display: none;
}
.bgwhite{
	background-color: #EBE7DF;
}
.TopSpace2{
	padding-top: 30px;
}
.NewFoo{
	font-family: Alight;
	font-size: 23px;
	display: inline;
	color: #242424;
}
.showall{
	float: right;
	width: 120px;
	height: 35px;
	background-color: #EBE7DF;
	border-style: none;
	border: 1px solid #9f9687;
	color: #9f9687;
	cursor: pointer;
}
.showall:hover{
	color: #fff;
	background-color: #57C5A0;
	border: 0px;
}
.imgsec{
	margin-top: 30px;
}
.whiteDiv{
	background-color: #fff;
	cursor: pointer;
}
.pic{
	padding-bottom: 6px;
}
.pic1{
	padding-top: 50px;
}
.Hr{
	width: 100%;
	background-color: #9f9687;
}
.greenBox{
	background-color: #57C5A0;
	width: 80px;
	height: 75px;
	margin-top: -35px;
	margin-left: 12px;
}
.topdiv{
	background-color: #242424;
	font-family: Abold;
	position: absolute;
	right: 25px;
	width: 80px;
	height: 75px;
}
.amount{
	color: #fff;
	font-family: Aregular;
	padding-top: 28px;
	font-size: 16px;
}
.Even{
	font-family: Aregular;
	font-size: 20px;
	margin-top: -45px;
	padding-bottom: 15px;
}
.showicon{
	display: none;
	position: absolute;
	bottom: 23px;
	right: 40px;
	background-color: #fff;
	z-index: 10;
}
.showicon2{
	right: 65px;
}
.parent:hover .showicon{
	display: block;
	animation: demo 1s;
}
#ProductsSection{
	display: none;
}
#ProductsSection2{
	display: none;
}
#ProductsSectionLast{
	display: none;
}
#ProductsSectionLast2{
	display: none;
}
.Orangebox{
	background-color: #F27E4B;
}
.amount2{
	padding-top: 15px;
}
.MyLine{
	width: 100%;
	padding-bottom: 20px;
}
.grayBox{
	background-color: #DFDBD4;
	border-radius: 5px;
	margin-bottom: 30px;
}
.FreeShip{
	font-family: Abold;
	font-size: 20px;
	padding-top: 30px;
	padding-left: 10px;
}
.Vivamus{
	font-size: 16px;
	font-family: Aregular;
	padding-bottom: 40px;
	padding-left: 10px;
	margin-top: -10px;
}
.john{
	font-family: Aitalic;
	padding-top: 15px;
}
.greenBox2{
	background-color: #57C5A0;
	color: #fff;
	font-family: Abold;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
	text-align: center;
	margin-bottom: 37px;
	float: left;
}
.greenBox2Copy{
	margin-left: -60px;
}
.Nice{
	font-size: 15px;
	font-family: Abold;
	padding-right: 5px;
}
.what{
	margin-top: 18px;
	padding-bottom: 48px;
}
.Vivamus{
	padding-right: 5px;
}
.Vivamus2{
	padding-left: 0px;
	font-family: Aregular;
}
.bgBlack{
	background-color: #242424;
}
.BlackRow{
	padding-top: 50px;
	padding-bottom: 20px;
}
.widget{
	font-family: Aregular;
	font-size: 18px;
	color: #9f9687;
}
.Donec{
	font-family: Aitalic;
	font-size: 16px;
	color: #9f9687;
}
.why{
	font-family: Aitalic;
	font-size: 16px;
	color: #9f9687;
}
.greenColor{
	color: #57C5A0;
}
.SpaceRemove{
	padding-left: 6px;
	padding-right: 6px;
}
.img-fluid2{
	margin-bottom: 15px;
	width: 300px;
	height: 70px;
}
.FullWidthLine{
	width: 100%;
	height: 1px;
	background-color: #1c1a1a;
}
.InputRow{
	padding-top: 40px;
	padding-bottom: 20px;
}
.myinput{
	background-color: #2E2E2E;
	border: none;
	border-radius: 2px;
}
.mybtn{
	background-color: #7D7D7D;
	border-radius: 2px;
}
.mybtn:hover{
	background-color: #DFDBD4;
}
.arrow{
	color: #000;
}
.mygroup{
	width: 300px;
}
.myinput::placeholder{
	font-family: Aitalic;
}
.myicons{
	float: right;
}
.iconsGroup{
	color: #7D7D7D;
	font-size: 40px;
	padding-right: 5px;
}
.iconsGroup:hover{
	color: #fff;
}
.lastSec{
	background-color: #2E2E2E;
}
.footerRow{
	padding: 15px 0px;
}
.copy{
	color: #979797;
	padding-top: 25px;
	font-size: 16px;
	font-family: Aregular;
}
.myancer{
	padding-top: 35px;
	float: right;
}
.lastmenu{
	color: #979797;
}
.lastmenu:hover{
	color: #57C5A0;
	text-decoration: none;
}

@media(max-width:1200px){
.greenBox{
	margin: 0 auto;
	margin-top: -28px;
}
.Even{
	margin: 0px;
	padding-top: 5px;
}
.showicon{
	bottom: 3px;
}
.showicon2{
	bottom: 7px;
}
}
@media(max-width:991px){
	  .logo{
		  margin: 15px 0px;
	  }
	  .margin-1{
		  margin-top: 20px;
		  margin-left: 5px;
	  }
	.margin-1 input#search{
		float: left;
	}
	.margin-1 input#search:focus,
  	.margin-1 input#search:active {
	width: 100%;
  }
  	.margin-1:hover input#search {
	width: 100%;
  }
  .log{
	  border: none;
  }
  .mynav{
	padding-bottom: 15px;
  }  
  .show{
	position: relative;
  }
  .showmenu{
	top: 62px;
	position: absolute;
	background-color: #262626;
	width: 100%;
	z-index: 5;
  }
  .showmenu2{
	top: 40px;
	z-index: 2;	
}
.head-menu{
	color: #fff;
}
.star{
	color: #fff;
}
.shopcart{
	color: #fff;
}
.myCol{
	padding-left: 15px;
	padding-right: 15px;
}
.myCol1{
	margin-bottom: 20px;
}
.myCol2{
	margin-bottom: 20px;
}
.specialoffertext{
	margin-bottom: 45px;
}
.jumbotron{
	padding-right: 0px;
	margin-right: 0px;
}
.fullwidth ul li {
	width: 100%;
	border-top: none;
}
.ThirdMenu{
	border-top: none;
}
.ThirdMenu:hover{
	border-top: none;
}
.showicon{
	bottom: 3px;
	right: 17px;
}
.showicon2{
	bottom: 5px;
}
.img-fluid2{
	margin-bottom: 15px;
	width: 120px;
	height: 70px;
	margin-left: 5px;
	margin-right: 5px;
}
}
@media(max-width:768px){
	.Br{
		display: none;
	}
	.jumbotron{
		padding-left: 0px;
	}
	.light{
		font-size: 30px;
	}
	.nunc{
		font-size: 16px;
	}
	.myRow{
		text-align: center;
	}
	.showall{
		float: none;
		margin: 0 auto;
	}
	.widget{
		text-align: center;
	}
	.mygroup{
		width: 250px;
		margin: 0 auto;
	}
	.myicons{
		float: none;
		text-align: center;
	}
	.copy{
		text-align: center;
	}
	.myancer{
		float: none;
		text-align: center;
	}
	.grayBox{
		text-align: center;
	}
	.showicon{
		bottom: 1px;
		right: 22%;
	}
	.showicon2{
		bottom: 2px;
		right: 27%;
	}
}
@media(max-width:389px){
	.greenBox2Copy{
		margin-left: 10px;
	}
	.Nice{
		text-align: left;
	}
}
@media(max-width:378px){
	.Nice{
		font-size: 14px;
	}
	.greenBox2Copy{
		margin-left: -60px;
	}
}
@media(max-width:371px){
	.greenBox2Copy{
		margin-left: 10px;
	}
	.showicon2{
		right: 20%;
	}
}